body {
    font-family: "Fira Code", monospace;
    background-color: #000;
    color: #fff;
}

.active {
    color: #fff;
}

.inactive {
  color: #888;
}

@supports (font-variation-settings: normal) {
    code {
      font-family: "Fira Code VF", monospace;
    }
  }
